MovPhantMaster.X/.generated_files/
MovPhantMaster.X/build/
MovPhantSlave.X/.generated_files/flags/default/155a522653f9f27529de1714662dd7e389270192
MovPhantSlave.X/.generated_files/
MovPhantSlave.X/build/default/production/config_slave.o
MovPhantSlave.X/build/
MovPhantSlave.X/dist/
MovPhantMaster.X/dist/
*.inx
MovPhantMaster.X/defmplabxtrace.log
MovPhantMaster.X/nbproject/Makefile-default.mk
MovPhantMaster.X/nbproject/Makefile-genesis.properties
MovPhantMaster.X/nbproject/Makefile-impl.mk
MovPhantMaster.X/nbproject/Makefile-local-default.mk
MovPhantMaster.X/nbproject/Makefile-variables.mk
MovPhantSlave.X/nbproject/Makefile-default.mk
MovPhantSlave.X/nbproject/Makefile-genesis.properties
MovPhantSlave.X/nbproject/Makefile-impl.mk
MovPhantSlave.X/nbproject/Makefile-local-default.mk
MovPhantSlave.X/nbproject/Makefile-variables.mk
